<tr style="height: 31.3px;"><td class="table-sort-search-empty" colspan="4"></td></tr>
{% for conspect in conspects %}
    <tr>
        <td><a href="/{{ LANGUAGE_CODE }}/conspect_browse?pk={{ conspect.pk }}" title="{{ conspect.description }}">{{ conspect.title }}</a></td>
        <td>{{ conspect.get_subject }}</td>
        <td><a href="{% url "conspect_edit"  id=conspect.pk %}"><i class="fa fa-edit"></i></a></td>
        <td><a id="delete_{{ conspect.pk }}"><i class="fa fa-trash"></i></a></td>
    </tr>
{% endfor %}