{% extends "wrapper.html" %}
{% include "navbar.html" %}
{% load ratings %}
{% load i18n %}
{% block content %}
    <div class="container">
        <p class="h2 text-center">{{ conspect.title }}</p>
        <div class="text-center">
            {% ratings conspect %}
        </div> <hr/>
        {{ conspect.html_field | safe }}
        <hr/>
        <span>{% trans "Теги" %}:</span>
        {% for tag in conspect.tags.all %}
            <a href="/{{ LANGUAGE_CODE }}/tag/{{ tag }}" class="badge badge-info">{{ tag }}</a>
        {% endfor %}
    </div> <br/>
{% endblock %}