{% extends "wrapper.html" %}
{% include "navbar.html" %}
{% load social_auth_widget %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm4">
            <h1 class="display-4">{% trans "Вход" %}</h1>
            <form method="post">
                {% csrf_token %}
                 {% for field in form %}
                    <div class="form-group row">
                        <div class="col">
                            {% trans field.label_tag %} <br>
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p class="text-danger">{% trans error %}</p>
                {% endfor %}
                {% social_auth_widget %}
                <small>{% trans "Если вы здесь впервые"%}, <a href="register">{% trans "зарегистрируйтесь" %}</a></small>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Войти" %}</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}