    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand btn btn-danger" href="/">Conspecto Patronum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Мой профиль</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Настройки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a href="#" class="dropdown-item">"Математическая" тема</a>
                      <a href="#" class="dropdown-item">"Гуманитарная" тема</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">Русский язык</a>
                      <a href="#" class="dropdown-item">Белорусский язык</a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </nav>