{% extends "wrapper.html" %}
{% include "navbar.html" %}
{% load staticfiles %}

{% block content %}
    <p class="h2 text-center">{{ user.get_full_name }}</p>
    <div class="container-fluid">Информация о пользователе</div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" id="block">Добавить</button>
        </div>
    </div>
        <table class="table-sort table-sort-search">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th class="table-sort">Название</th>
                <th class="table-sort">Тема</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>Чеченские войны</td>
                <td>История</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Уравнение теплового баланса</td>
                <td>Физика</td>
            </tr>
        </tbody>
    </table>

{% endblock %}