{% extends "wrapper.html" %}
{% include "navbar.html" %}
{% load staticfiles %}

{% block content %}
    <p class="h1 text-center">{{ user.get_full_name }}</p>
    <hr />
    <div class="container-fluid">
        <p class="h3 text-center">Личная информация</p>
    </div> <hr />
    <div class="container-fluid">
        <p class="h3 text-center">Мои конспекты</p>
        <a class="btn btn-primary" style="float: right;" href="conspect">Добавить конспект</a>
        <table class="table-sort table-sort-search">
            <thead>
                <tr>
                    <th class="table-sort">Название</th>
                    <th class="table-sort">Тема</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Чеченские войны</a></td>
                    <td>История</td>
                    <td><a onclick="alert('REDACT');"><i class="fa fa-edit"></i></a></td>
                    <td><a onclick="alert('UDOLI');"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                    <td><a href="#">Уравнение теплового баланса</a></td>
                    <td>Физика</td>
                    <td><a onclick="alert('REDACT');"><i class="fa fa-edit"></i></a></td>
                    <td><a onclick="alert('UDOLI');"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}